@import '../../scss/variables';
@import '../../scss/typography';

.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 100px;
	&__title {
		@include h1(left);
		text-transform: uppercase;
		font-weight: bold;
	}
	&__subtitle {
		@include text(left);
		font-size: 31px;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	.wave {
		animation-name: wave-animation;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-delay: 1s;
		transform-origin: 70% 70%;
		display: inline-block;
		cursor: default;
	}

	@keyframes wave-animation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(-10deg);
		}
		20% {
			transform: rotate(12deg);
		}
		30% {
			transform: rotate(-10deg);
		}
		40% {
			transform: rotate(9deg);
		}
		50% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}
