.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 25px;
}

.Home__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 0) {
  .Home {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .Home__text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .Home {
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
