.About {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'content foto info';
}

.About__Content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  row-gap: 50px;
  padding-top: 200px;
  text-align: left;
}

.About__Content .Content__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-transform: uppercase;
  font-size: 137px;
  line-height: 150px;
  letter-spacing: 0.27px;
  font-weight: 400;
}

.About__Content .Content__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 1.2em;
  color: #717171;
  letter-spacing: 0.4px;
  font-family: 'Source Code Pro';
}

.About__photo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto;
  background-image: url("../images/Bewerbungs Foto Dark.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.About__Info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: info;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  row-gap: 50px;
  text-align: center;
  padding-top: 200px;
  background-color: #4b7bec;
}

.About__Info .Info__Hobbys {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.About__Info .Info__Hobbys h3 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}
