.About {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	padding: 0px 100px;
}
.About__title {
	font-size: 3.5em;
}
.About__subtitle {
	font-size: 1.2em;
	color: #717171;
	letter-spacing: 0.4px;
	font-family: 'Source Code Pro';
	margin-top: 10px;
	margin-bottom: 40px;
}

.About__Photo {
	width: 300px;
	height: 394px;
	background-image: url('../images/Bewerbungs Foto Dark.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
