.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 100px;
	&__title {
		text-transform: uppercase;
		font-size: 137px;
		line-height: 150px;
		letter-spacing: 0.27px;
	}
	&__subtitle {
		font-size: 31px;
		color: #717171;
		letter-spacing: 0.78px;
		font-family: 'Source Code Pro';
		margin-top: 10px;
		margin-bottom: 40px;
	}

	.wave {
		animation-name: wave-animation;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-delay: 1s;
		transform-origin: 70% 70%;
		display: inline-block;
	}

	@keyframes wave-animation {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(-10deg);
		}
		20% {
			transform: rotate(12deg);
		}
		30% {
			transform: rotate(-10deg);
		}
		40% {
			transform: rotate(9deg);
		}
		50% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}
