.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 100px;
}
.Home__title {
	font-size: 3.5em;
}
.Home__subtitle {
	font-size: 1.2em;
	color: #717171;
	letter-spacing: 0.4px;
	font-family: 'Source Code Pro';
	margin-top: 10px;
	margin-bottom: 40px;
}
