@import '../scss/variables';
@import '../scss/typography';

.Projects {
	display: grid;
	grid-template-columns: 2fr 30vw;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'title info' 'content info';
	overflow-y: scroll;
	overflow-x: hidden;
	&__Header {
		background-color: #1f2022;
		h1 {
			grid-area: title;
			@include h1(center);
			padding: 30px 0px;
		}
	}
	&__Content {
		grid-area: content;
		display: grid;
		align-self: start;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	}
	&__Info {
		grid-area: info;
		background-color: #0e0e0f;
		position: relative;
		&__Content {
			padding: 25px;
			padding-top: 150px;
			position: fixed;
			width: 30vw;
		}
	}
	&__image {
		width: 100%;
	}
	&__title {
		margin-bottom: 15px;
	}
	&__description {
		@include text(left);
	}
	&__line {
		border: 0.5px solid $gray;
		margin: 30px 0;
	}
	&__CreatedBy {
		margin-top: 50px;
	}
}
