.Projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14vw 4fr 28vw;
      grid-template-columns: 14vw 4fr 28vw;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'description content info';
  overflow-y: scroll;
  overflow-x: hidden;
}

.Projects__Description {
  position: fixed;
  width: 14vw;
  height: 100vh;
  background-color: #202022;
}

.Projects__Description .Description__title {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 2.8125rem;
  letter-spacing: 0.27px;
  font-weight: 400;
  text-align: center;
}

.Projects__Content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 1fr 5rem;
      grid-template-columns: 5rem 1fr 5rem;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  row-gap: 0;
  padding-top: 100px;
}

.Projects__Content .Projects__Group {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.Projects__Info {
  position: fixed;
  width: 24vw;
  height: 100vh;
  right: 0;
  background-color: #111112;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
}

.Projects__Info .Info__Description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-top: 100px;
}

.Projects__Info .Info__Description .Description__title {
  text-align: center;
  letter-spacing: 1.03px;
  margin-bottom: 22px;
}

.Projects__Info .Info__Description .Description__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 1.2em;
  color: #717171;
  letter-spacing: 0.4px;
  font-family: 'Source Code Pro';
  text-align: center;
  margin-bottom: 57px;
}

.Projects__Info .Info__Description .Description__controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.Item {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 0 auto;
}

.Image {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 33vw;
  cursor: pointer;
}

.Image:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: 1px solid #fed330;
}
