.Skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 1fr 1fr 45px;
      grid-template-columns: 45px 1fr 1fr 45px;
  -ms-grid-rows: 45px 1fr 1fr 45px;
      grid-template-rows: 45px 1fr 1fr 45px;
  text-align: center;
}

.Skills__Content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3a3b3d;
  padding-top: 130px;
}

.Skills__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 137px;
  line-height: 150px;
  letter-spacing: 0.27px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 60px;
}

.Skills__List {
  margin-bottom: 70px;
}

.Skills__List h3 {
  color: #717171;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
}

.Skills__List li {
  color: #ffffff;
}

.Skills .bg__black {
  grid-column: span 2;
}

.Skills .bg__blue {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  grid-row: 1 / -1;
  background-color: #4b7bec;
}
