@import '../../scss/variables';
@import '../../scss/typography';

.Button {
	transition: all 300ms;
	display: inline-block;
	cursor: pointer;
	padding: 11px 16px;
	text-transform: uppercase;
	letter-spacing: 2.14px;
	border: none;
	text-decoration: none;
	font-size: 13.3333px;
	font-family: 'Arial';
	color: inherit;
	text-align: center;
	background-color: transparent;
	&:hover {
		border-color: $primary-dark;
		background-color: $primary-dark;
		color: #fff;
	}
	&__primary {
		background-color: $prime;
		color: #252628;
		font-weight: bold;
	}
	&__secondary {
		color: $prime;
		border: 1px solid $prime;
		background-color: transparent;
	}
	&__tertiary {
		color: $prime;
		border: none;
		background-color: transparent;
	}
	&__uppercase {
		text-transform: uppercase;
	}
	&__rounded {
		border-radius: 99999px;
		padding: 10px;
		font-size: 0;
	}
}
