.List {
	padding: 15px 0px;
	&__icon {
		display: flex;
		justify-content: center;
	}
	&__title {
		margin-bottom: 7px;
	}
	&__list {
		list-style: none;
	}

	&__list__item {
		color: #717171;
		font-family: 'Source Code Pro';
	}
	&__list {
		display: grid;
		justify-content: center;
		&__row {
			grid-auto-flow: column;
		}
		&__column {
			grid-auto-flow: row;
		}
	}
}
