.Projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'title' 'content';
  overflow-y: scroll;
  overflow-x: hidden;
}

.Projects__Header {
  text-align: center;
  background-color: #1f2022;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  padding: 30px 0px;
}

.Projects__Content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: (minmax(100px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.Projects__Info {
  grid-area: info;
  background-color: #0e0e0f;
  position: relative;
}

.Projects__Info__Content {
  padding: 25px;
  padding-top: 150px;
  position: fixed;
  width: 30vw;
}

.Projects__image {
  width: 100%;
}

.Projects__title {
  margin-bottom: 15px;
}

.Projects__description {
  font-family: 'Source Code Pro';
  font-size: 1em;
  text-align: left;
  letter-spacing: 0.4px;
  color: #9b9b9b;
}

.Projects__line {
  border: 0.5px solid #9b9b9b;
  margin: 30px 0;
}

.Projects__CreatedBy {
  margin-top: 50px;
}
