.Title {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0.27px;
  color: #fff;
}

.Title__uppercase {
  text-transform: uppercase;
}

.Title__small {
  font-size: 2.5rem;
}

.Title__medium {
  font-size: 5rem;
}

.Title__large {
  font-size: 10rem;
}
