@import '../../scss/variables';
@import '../../scss/typography';

$padding: 45px;

.Skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	text-align: center;

	&__Content {
		margin: 45px;
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #3a3b3d;
		padding-top: 130px;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__List {
		margin-bottom: 70px;
		h3 {
			color: #717171;
			font-weight: 200;
			font-style: italic;
			text-transform: uppercase;
		}
		li {
			color: #ffffff;
		}
	}

	.bg__blue {
		grid-column: 2 / span 1;
		grid-row: 1 / -1;
		background-color: $prime;
	}
}
