.ProjectItem {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
  grid-gap: 10px;
  width: 300px;
  /*
	background-color: #343537;
	padding: 20px;
	*/
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.ProjectItem:hover:not(.ProjectItem__active) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.ProjectItem:hover:not(.ProjectItem__active) .ProjectItem__title {
  -webkit-transform: scale(0.95) translateX(-7px);
          transform: scale(0.95) translateX(-7px);
}

.ProjectItem__title {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.ProjectItem__image {
  max-width: 100%;
  z-index: 2;
}

.ProjectItem__discription {
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #717171;
  font-family: 'Source Code Pro';
  -webkit-transform: scale(1) translateX(-101%) translateY(-50%);
          transform: scale(1) translateX(-101%) translateY(-50%);
}

.ProjectItem__controls {
  -webkit-transition: all 600ms;
  transition: all 600ms;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  -webkit-transform: scale(1) translateX(-101%);
          transform: scale(1) translateX(-101%);
}

.ProjectItem .ProjectItem__active {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}
