.ProjectItem {
	display: grid;
	align-content: center;
	overflow: hidden;
	&__image {
		transition: all 300ms;
		width: 25.333333333vw;
		width: 100%;
		transform: scale(1.3);
		cursor: pointer;
		&:hover {
			transform: scale(1);
		}
	}
}
