.ProjectItem {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-gap: 10px;
	width: 300px;
	background-color: #343537;
	padding: 20px;
}

.ProjectItem__discription {
	color: #717171;
	font-family: 'Source Code Pro';
}

.ProjectItem__controls {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
