.Sidebar {
	grid-area: sidebar;
	background-color: #181818;
	color: #707070;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr;
}

@media (max-width: 1000px) {
	.Sidebar {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 2fr 1fr;
	}
}

@media (max-width: 600px) {
	.Sidebar {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		ul:first-child,
		ul:last-child {
			display: none;
		}
	}
}
