@import '../scss/variables';
@import '../scss/typography';

.Sidebar {
	position: fixed;
	width: 64px;
	height: 100vh;
	background-color: map-get($mono, f);
	color: #707070;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr;
	z-index: 1000;
}

@media (max-width: 1000px) {
	.Sidebar {
		height: 64px;
		width: 100vw;
		bottom: 0;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 2fr 1fr;
	}
}

@media (max-width: 600px) {
	.Sidebar {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		ul:first-child,
		ul:last-child {
			display: none;
		}
	}
}
