.Sidebar {
  position: fixed;
  width: 64px;
  height: 100vh;
  background-color: #070c17;
  color: #707070;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 1000;
}

@media (max-width: 1000px) {
  .Sidebar {
    height: 64px;
    width: 100vw;
    bottom: 0;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (max-width: 600px) {
  .Sidebar {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Sidebar ul:first-child,
  .Sidebar ul:last-child {
    display: none;
  }
}
