.Sidebar {
  width: 64px;
  height: 100vh;
  background-color: #181818;
  color: #707070;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.Sidebar__Logo {
  width: 32px;
  height: 32px;
}
