.Sidebar {
  position: fixed;
  width: 64px;
  height: 100vh;
  background-color: #070c17;
  color: #707070;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 100;
}

@media (min-width: 0) {
  .Sidebar {
    width: 100vw;
    height: 64px;
    bottom: 0;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (min-width: 768px) {
  .Sidebar {
    width: 64px;
    height: 100vh;
    bottom: 0;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
