.IconWithText {
	display: grid;
	gap: 7px;
	justify-items: center;
}

.IconWithText__row {
	align-items: center;
	grid-template-columns: min-content 1fr;
	justify-items: left;
}

.IconWithText__text {
	text-align: left;
}
