@import '../../scss/variables';
@import '../../scss/typography';

.About {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'content foto info';
	&__Content {
		grid-area: content;
		display: grid;
		grid-template-columns: 1fr 10fr 1fr;
		grid-template-rows: auto 1fr;
		row-gap: 50px;
		padding-top: 200px;
		text-align: center;
	}
	&__title {
		grid-column: 2 / 3;
		@include h1(center);
	}
	&__description {
		grid-column: 2 / 3;
		@include text(center);
	}

	&__photo {
		grid-area: foto;
		background-image: url('../../images/Bewerbungs Foto Dark.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 60%;
		transform: scaleX(-1);
	}

	&__Info {
		grid-area: info;
		display: grid;
		grid-template-columns: 1fr 10fr 1fr;
		grid-template-rows: auto 1fr;
		row-gap: 50px;
		text-align: center;
		padding-top: 200px;
		background-color: $prime;
		.Info__Hobbys {
			grid-column: 2 / 3;
			h3 {
				font-size: 45px;
				font-weight: 600;
				margin-bottom: 30px;
			}
		}
	}
}
