.App {
	height: 100vh;
	background-color: #252628;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fffffe;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 64px 1fr;
	grid-template-areas: 'sidebar content';
}

.page {
	overflow: hidden;
	grid-area: content;
}

@media (max-width: 1000px) {
	.App {
		grid-template-rows: 1fr 64px;
		grid-template-columns: 1fr;
		grid-template-areas: 'content' 'sidebar';
	}
	.page {
		padding: 25px;
	}
}

/*
.fade-appear,
.fade-enter {
	opacity: 0;
	z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
	opacity: 0;
	transition: opacity 300ms linear 150ms;
}
.fade-exit {
	opacity: 1;
}
.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 150ms linear;
}
*/
