.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64px 1fr;
      grid-template-columns: 64px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: '. content';
  height: 100vh;
  background-color: #252628;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 0) {
  .App {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 64px;
        grid-template-rows: 1fr 64px;
        grid-template-areas: 'content' '.';
  }
}

@media (min-width: 768px) {
  .App {
    -ms-grid-columns: 64px 1fr;
        grid-template-columns: 64px 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: '. content';
  }
}
